<center> <h1> Application Programming Interface </h> </center> 
<center> <h2> Classroom Activity 1 </h> </center> 
<center> <h3> Data Preprocessing </h> </center>

**Open Notify** ([Web Page](http://open-notify.org/)) is an open source project to provide a simple programming interface for some of NASA’s data.

In [1]:
import requests
import json
import pandas as pd
import time
import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap

a. Create the function named *astro_now*() to obtain data of the astraonauts in the space using the method [Number of People in Space](http://open-notify.org/Open-Notify-API/People-In-Space) using the following python libraries:
* [requests](https://2.python-requests.org/en/master/)
* [json](https://docs.python.org/3/library/json.html)
    
The function must return the obtained json file as a python dictionary.

In [2]:
def astro_now():
    """
    Description: fucntion to get a json from a API and transform into a python dictionary
    
    INPUT: do not get an input, but if ypu want is possible to get the url but only will works to that specific API
    
    OUTPUT: return a python dictionary from the json got from the API
    """
    
    # Endpoint
    endpoint_url =  'http://api.open-notify.org/astros.json'

    # Request
    res = requests.get(endpoint_url)
    
    #Data parsing
    results = json.loads(res.content)
    return results

In [3]:
#get the python dictionary and saving in a variabel
astronauts_json = astro_now()
astronauts_json

{'message': 'success',
 'people': [{'name': 'Alexey Ovchinin', 'craft': 'ISS'},
  {'name': 'Nick Hague', 'craft': 'ISS'},
  {'name': 'Christina Koch', 'craft': 'ISS'},
  {'name': 'Alexander Skvortsov', 'craft': 'ISS'},
  {'name': 'Luca Parmitano', 'craft': 'ISS'},
  {'name': 'Andrew Morgan', 'craft': 'ISS'}],
 'number': 6}

b. Use the json obtained to create a table with the following columns:
* craft
* astronaut name

In [4]:
astronauts_df = pd.read_json(json.dumps(astronauts_json['people']), orient = 'records')
astronauts_df

  craft                 name
0   ISS      Alexey Ovchinin
1   ISS           Nick Hague
2   ISS       Christina Koch
3   ISS  Alexander Skvortsov
4   ISS       Luca Parmitano
5   ISS        Andrew Morgan

c. Create the function named *iss_currentlocation*() to obtain the position of the International Space Station using the method [Current Location of the International Space Station](http://open-notify.org/Open-Notify-API/ISS-Location-Now/).
    
The function must return the numeric value of the latitud and longitud as a tuple, e.g. (20.0,120.0)

In [3]:
def iss_currentlocation():
    """
    Description: function that go into a API and gets json that contains the current location and more information
    
    INPUT:
    does not receive and input, however, the urc could be but only with that API
    OUTPUT:
    return a tuple with 3 variables. the latitude, longitude and the timestamp
    """
    
    # Endpoint
    endpoint_url1 =  'http://api.open-notify.org/iss-now.json'

    # Request
    res1 = requests.get(endpoint_url1)
    
    #Data parsing
    results1 = json.loads(res1.content)
    resp = (float(results1['iss_position']['latitude']), float(results1['iss_position']['longitude']),time.strftime("%Y %B %d %A %H:%M:%S"))
    return resp

d. Use your *iss_currentlocation()* function to obtain the position of the International Space Station each 10 seconds during 5 minutes. Show the results in a table with the following columns:
* timestamp (Parsed Correctly)
* latitude
* longitude

The [Time](https://docs.python.org/3/library/time.html) Python library could be useful.

In [13]:
#variable declaration
#tiempo in minutes
tiempo = 5
lat_lon = []
#loop to get the values during 5 minutes
for i in range(0,(tiempo*6) + 1):
    #get the latitude and longitude and save it in a variabñe
    answ = iss_currentlocation()
    # append the tuple obtained to then make it a dataframe
    lat_lon.append(answ)
    #delay of 10 second
    time.sleep(10)

    #making the information in a dataframe
locationdata = pd.DataFrame(lat_lon,index = None, columns = ['Lat','Lon','timestamp'])
locationdata

        Lat       Lon                             timestamp
0  -32.9870 -150.9345  2019 September 18 Wednesday 20:12:20
1  -32.5289 -150.3828  2019 September 18 Wednesday 20:12:30
2  -32.0901 -149.8630  2019 September 18 Wednesday 20:12:41
3  -31.6266 -149.3230  2019 September 18 Wednesday 20:12:51
4  -31.1827 -148.8141  2019 September 18 Wednesday 20:13:01
5  -30.7141 -148.2852  2019 September 18 Wednesday 20:13:11
6  -30.2655 -147.7867  2019 September 18 Wednesday 20:13:22
7  -29.8145 -147.2931  2019 September 18 Wednesday 20:13:32
8  -29.3388 -146.7799  2019 September 18 Wednesday 20:13:42
9  -28.8835 -146.2960  2019 September 18 Wednesday 20:13:52
10 -28.4033 -145.7929  2019 September 18 Wednesday 20:14:03
11 -27.9440 -145.3183  2019 September 18 Wednesday 20:14:13
12 -27.4827 -144.8481  2019 September 18 Wednesday 20:14:23
13 -26.9964 -144.3591  2019 September 18 Wednesday 20:14:33
14 -26.5313 -143.8975  2019 September 18 Wednesday 20:14:43
15 -26.0411 -143.4172  2019 September 18 Wednesday 20:14:54
16 -25.5724 -142.9639  2019 September 18 Wednesday 20:15:04
17 -25.0785 -142.4920  2019 September 18 Wednesday 20:15:14
18 -24.6065 -142.0465  2019 September 18 Wednesday 20:15:24
19 -24.1329 -141.6046  2019 September 18 Wednesday 20:15:35
20 -23.6338 -141.1443  2019 September 18 Wednesday 20:15:45
21 -23.1571 -140.7097  2019 September 18 Wednesday 20:15:55
22 -22.6551 -140.2569  2019 September 18 Wednesday 20:16:05
23 -22.1754 -139.8290  2019 September 18 Wednesday 20:16:16
24 -21.6703 -139.3832  2019 September 18 Wednesday 20:16:26
25 -21.1880 -138.9617  2019 September 18 Wednesday 20:16:36
26 -20.7044 -138.5433  2019 September 18 Wednesday 20:16:46
27 -20.1952 -138.1071  2019 September 18 Wednesday 20:16:57
28 -19.7090 -137.6946  2019 September 18 Wednesday 20:17:07
29 -19.1973 -137.2643  2019 September 18 Wednesday 20:17:17
30 -18.7088 -136.8573  2019 September 18 Wednesday 20:17:27

e. The International Space Station is an orbital outpost circling high above out heads. Sometimes it’s overhead, but when? It depends on your location. Given a location on Earth (latitude, longitude, and altitude) the [International Space Station Pass Times](http://open-notify.org/Open-Notify-API/ISS-Location-Now/) API compute the next n number of times that the ISS will be overhead.

The function must return the obtained json file as a python dictionary.

In [18]:
def iss_passtimes(latitude, longitude, altitude = None, number = None):
    """
    Description: function to obtain a python dictionary from that API
    input: the latitude and longitude for you want to know when  iss passover there
    output: Return a python dictionary that contain 
    """
    endpoint_url = 'http://api.open-notify.org/iss-pass.json'
    parameters = {
        'lat': latitude,
        'lon': longitude,
        'alt': altitude,
        'n': number
    }
    
    res = requests.get(endpoint_url, params = parameters)
    results = json.loads(res.content)
    return results

f. Write the *url request* to obtaing the same result as in task e.

In [26]:
iss_merida = iss_passtimes(20.983999252319, -89.639503479004)

g. Create a table with the following columns:
* latitude
* longitude
* risetime (parse correctly)
* duration

In [27]:
data = pd.read_json(json.dumps(iss_merida['response']), orient = 'records')
data['latitude'] = iss_merida['request']['latitude']
data['longitude'] = iss_merida['request']['longitude']
data['risetime'] = pd.to_datetime(data['risetime'], unit='s')

In [28]:
data

   duration            risetime   latitude  longitude
0       628 2019-09-18 23:51:36  20.983999 -89.639503
1       526 2019-09-19 01:29:15  20.983999 -89.639503
2       384 2019-09-19 08:06:42  20.983999 -89.639503
3       649 2019-09-19 09:41:36  20.983999 -89.639503
4       350 2019-09-19 11:20:23  20.983999 -89.639503

## Checklist

| Task | Points |
|:----:|:------:|
|   a  |   15   |
|   b  |   15   |
|   c  |   15   |
|   d  |   15   |
|   e  |   15   |
|   f  |   10   |
|   g  |   15   |

* **Important!** Partial credit can be obteined in each task.
* Don not forget to document your functions! [Here](http://google.github.io/styleguide/pyguide.html) is the Python Programming Styleguide from Google. [Section 3.8](http://google.github.io/styleguide/pyguide.html#38-comments-and-docstrings) is about Comments and Docstrings.